<head>
  <script>
  var host = "mazdatweaks.com";
  if ((host == window.location.host) && (window.location.protocol != 'https:')) {
    window.location = window.location.toString().replace(/^http:/, "https:");
  }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80722109-1', 'auto');
  ga('send', 'pageview');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="Mazda tweaks, Mazda CMU hacks, MZD hacks, AIO all in one tweaks, Mazda AIO tweaks,Infotainment tweaks, Mazda Infotainment hacks" />
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/ico" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" href="{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}" >
  <link rel="alternate" hreflang="x-default" href="//mazdatweaks.com/" />
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/normalize.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/stylesheet.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/github-light.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">

  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/style.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/css/featherlight.min.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/css/featherlight.gallery.min.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/css/w3.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ "/css/prism.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">
  <!-- Compiled and minified CSS -->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="{{ "/js/w3data.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/featherlight.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/featherlight.gallery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/style.min.css" | prepend: site.baseurl | prepend: site.url }}" media="screen">

  <style>
  @font-face {
    font-family: Mazda;
    src: url(//trevelopment.com/SF_Automaton.ttf);
  }
  section.page-header, #mySidenav, .project-name {
    font-family: Mazda,"Segoe UI",Verdana,sans-serif;
    letter-spacing: 1px;
  }
  h1.project-name {
    letter-spacing:5px;
  }
  </style>
</head>
