<nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-text-shadow" style="display:none" id="mySidenav">
	<a href="javascript:void(0)"
	onclick="w3_close()"
	class="w3-closenav w3-xxlarge">&times;</a>
	<a class=" w3-hover-green {% if page.url == '/' %} w3-blue {% endif %}" href="{{ '/' | prepend: site.baseurl }}">Home</a>
	{% for my_page in site.pages %}
	{% if my_page.title %}
	<a class="page-link w3-hover-green {% if page.title == my_page.title %} w3-blue {% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	{% endif %}
	{% endfor %}
	<a class=" w3-hover-green" href="http://dl.mazdatweaks.win">Download</a>
	<a class=" w3-hover-green" href="//trevelopment.win/mazda3revolutionthread">Thread</a>
	<s><a class=" w3-hover-red" href="//trevelopment.win/githubsite">GitHub</a></s>
	<a href="/screenshots" class="w3-hover-green">Screenshots</a>
	<a href="/videoplayer" class="w3-hover-green">VideoPlayer Info</a>
	<a href="/speedo" class="w3-hover-green">Speedometer Info</a>
	<a href="/castscreen" class="w3-hover-green">CastScreen-Receiver</a>
	<a href="/serial" class="w3-hover-green">Serial Connection Instructions</a>
	<!--a class=" w3-hover-green" href="./faq/"></a-->
</nav>
{% if page.title == "Changelog" %}
<nav class="w3-sidenav w3-black w3-text-shadow w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
	<a href="javascript:void(0)" onclick="closeRightMenu()" class="w3-closenav w3-large version">
		<h3>Version: &emsp; &times;</h3></a>
		{% capture change %}{% include changelognav.md %}{% endcapture %}
		{{ change | markdownify }}
	</nav>
	<script>
	function openRightMenu() {
		document.getElementById("rightMenu").style.display = "block";
		$('#rightnavtoggle').hide();
	}
	function closeRightMenu() {
		document.getElementById("rightMenu").style.display = "none";
		$('#rightnavtoggle').show();
	}
	</script>
	{% endif %}
	<div id="main" style="margin-left: 0%;">
		<header class="site-header">
			<div class="wrapper navbar-wrapper w3-hide-small w3-text-shadow">
				<ul class="navbar w3-dark-grey">
					<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
					{% for my_page in site.pages | sort: 'order', 'last' %}
					{% if my_page.title %}
					<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> </li>
					{% endif %}
					{% endfor %}
					<li class="w3-dropdown-hover">
    <a href="#" class="moar">Moar</a>
    <div class="w3-dropdown-content w3-bar-block">
      <a id="supported-fw-btn" class="supported-fw-btn w3-bar-item" style="cursor:pointer;">Supported Firmware</a>
      <a href="/screenshots" class="w3-bar-item">Screenshots</a>
      <a href="/videoplayer" class="w3-bar-item">VideoPlayer Info</a>
      <a href="/speedo" class="w3-bar-item">Speedometer Info</a>
      <a href="/castscreen" class="w3-bar-item">CastScreen-Receiver</a>
  </div>

					</ul>
					<div style="display:none;">
						<div id="supported-fw">
							<h2 id="which-fw-versions-are-supported">WHICH FW VERSIONS ARE SUPPORTED?:</h2>
							<STRONG>ALL FW V55, V56, V58, AND V59 UP TO V59.00.500 ARE SUPPORTED
							<br>TO INSTALL ON FW V59.00.502+ YOU MUST FIRST <a href="/serial/">MAKE A SERIAL CONNECTION (INSTRUCTIONS)</a></STRONG>
							</ul>
						</div>
					</div>
				</div>
				{% if page.url == "/xx" %}
				<span class="language"><button class="us" onclick="$('.english').show();$('.german').hide();"><img src="{{ site.baseurl }}/images/US-flag.jpg" alt="Eng" title="English"></button><button class="ger" onclick="$('.german').show();$('.english').hide();"><img src="{{ site.baseurl }}/images/Germany-flag.jpg" alt="Ger" title="German"></button></span>
				{% endif %}
				<section class="page-header">
					<span class="w3-opennav w3-xxlarge w3-display-topleft w3-padding" onclick="w3_open()" id="openNav">&#9776;</span>
					{% if page.title == "Changelog" %}<span id="rightnavtoggle" class="w3-opennav w3-xxlarge w3-display-topright w3-padding" onclick="openRightMenu()"><span class="w3-large w3-hide-small">VERSION: </span>&#9776;</span>{% endif %}
					<h1 class="project-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a><br><small>{{ page.title }}</small></h1>
					<h2 class="project-tagline">{{ site.project_name }}<br>{{ site.description }}</h2>
					<a href='http://dl.mazdatweaks.win' class="btn">AIO {{site.version}}<img src='//api.bintray.com/packages/trevelopment/MZD-AIO-TI/AIO/images/download.svg?version=MZD-AIO-TI'></a>

					<a href="//trevelopment.win/mazda3revolutionthread" class="btn">Mazda3Revolution</a>

					<s><a href="{{ site.project_page }}" class="btn">View on GitHub</a><br></s>

				</section>
